.vim
FedML-Server/FedML/data
FedML-Server/VAE-LSTM-related/experiments/
FedML-Server/executor/log-server*
FedML-Server/executor/logs/
FedML-Server/executor/conf/__pycache__/
FedML-Server/executor/console_*
FedML-IoT/raspberry_pi/VAE-LSTM-related/experiments/
FedML-Server/VAE-LSTM-related/datasets/NAB-known-anomaly/scada*
FedML-Server/VAE-XAI-related/experiments/
FedML-Server/client_simulator/*.txt
FedML-Server/client_simulator/*.png
FedML-Server/client_simulator/*.htm
FedML-Server/client_simulator/*.csv
FedML-Server/Transformer-related/experiments/
FedML-Server/Transformer-related/datasets/
FedML-Server/Transformer-related/configs/
FedML-Server/Transformer-related/utils/*.csv
FedML-IoT/raspberry_pi/Transformer-related/
